.birdmash-tweet-list{
  li {
    border: 1px solid #ddd;
    padding: 5px !important;
    display: table;
    width: 100%;

    & + li {
      margin-top: 10px !important;
    }
  }
    .tweet-avatar-wrap{
      vertical-align: top;
      width: 48px;
      height: 48px;
      border-radius: 5px;
      display: table-cell;
      img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
    .tweet-details{
      display: table-cell;
      vertical-align: top;
      padding-left: 10px;
    }
    .screen-name{
      font-size: 1em;
      color: #00A8EF;
    }
    .tweet-time{
      font-size: 0.8em;
    }

}